[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/git"]
	path = submodules/git
	url = https://github.com/git/git
[submodule "submodules/bash-it"]
	path = submodules/bash-it
	url = https://github.com/Bash-it/bash-it
[submodule "submodules/apt-cyg"]
	path = submodules/apt-cyg
	url = https://github.com/transcode-open/apt-cyg
[submodule "submodules/liquidprompt"]
	path = submodules/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "submodules/ruby.tmbundle"]
	path = submodules/ruby.tmbundle
	url = https://github.com/textmate/ruby.tmbundle.git
[submodule "submodules/nvm"]
	path = submodules/nvm
	url = https://github.com/creationix/nvm.git
