[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/bash-it"]
	path = submodules/bash-it
	url = https://github.com/Bash-it/bash-it
