[Unit]
Description=LCD Panel Backlight
Requires=graphical.target
ConditionPathIsReadWrite=/sys/class/backlight/acpi_video0/brightness

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/max_brightness.sh

[Install]
WantedBy=basic.target
